<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toyota Việt Nam | Trang thông tin chính thức của Toyota Việt Nam</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/variables.scss">
    <link rel="icon" href="/images/red-logo.png">
</head>

<body>
    <%- include('./partials/header') %>

        <section class="section-slide-banner">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div id="carousel-indicators" class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="btn-slide">
                            <button type="button" class="btn btn-danger" onclick="window.location.href='#'">MUA
                                NGAY</button>
                            <button type="button" class="btn btn-danger" onclick="window.location.href='#'">KHÁM
                                PHÁ NGAY</button>
                        </div>
                        <img src="/images/banner1.jpg" class="d-block w-100" alt="banner1">
                    </div>
                    <div class="carousel-item">
                        <div class="btn-slide">
                            <button type="button" class="btn btn-danger" onclick="window.location.href='#'">MUA
                                NGAY</button>
                            <button type="button" class="btn btn-danger" onclick="window.location.href='#'">KHÁM
                                PHÁ NGAY</button>
                        </div>
                        <img src="/images/banner2.jpg" class="d-block w-100" alt="banner2">
                    </div>
                    <div class="carousel-item">
                        <div class="btn-slide">
                            <button type="button" class="btn btn-danger" onclick="window.location.href='#'">MUA
                                NGAY</button>
                            <button type="button" class="btn btn-danger" onclick="window.location.href='#'">KHÁM
                                PHÁ NGAY</button>
                        </div>
                        <img src="/images/banner3.jpg" class="d-block w-100" alt="banner3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span id="carousel-control-prev-icon" class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span id="carousel-control-prev-icon" class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <section class="section-discovery-vehicles">
            <div class="container">
                <h1 class="title">
                    KHÁM PHÁ CÁC DÒNG XE TOYOTA
                </h1>
            </div>
            <div class="container">
                <!-- row 1 -->
                <div id="discovery-vehicles-row-1" class="row">
                    <div class="col-md-4">
                        <!-- Car Card -->
                        <div id="card" class="card">
                            <img src="/images/vios1.png" class="card-img-top" alt="sedan">
                            <div class="card-body">
                                <h5 class="card-title">Sedan</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                                    eos molestias enim, ipsa modi consectetur in fuga molestiae accusamus laborum,
                                    commodi nobis alias perspiciatis sint porro excepturi. Eligendi, reprehenderit
                                    voluptas!</p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Car Card -->
                        <div id="card" class="card">
                            <img src="/images/wigo1.png" class="card-img-top" alt="sedan">
                            <div class="card-body">
                                <h5 class="card-title">Hatchback</h5>
                                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure,
                                    quia soluta eligendi non quis dolorem amet nostrum, dignissimos, sed temporibus
                                    earum itaque reiciendis nihil placeat dolore alias? Quis, obcaecati magni!</p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Car Card -->
                        <div id="card" class="card">
                            <img src="/images/fordtuner1.png" class="card-img-top" alt="sedan">
                            <div class="card-body">
                                <h5 class="card-title">SUV</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
                                    laborum fugit cupiditate eveniet iure id minus alias. Voluptates quae quo earum
                                    exercitationem expedita vel, iusto, consequatur magni, veritatis odit delectus!
                                </p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row 2 -->
                <div id="discovery-vehicles-row-2" class="row">
                    <div class="col-md-4">
                        <!-- Car Card -->
                        <div id="card" class="card">
                            <img src="/images/avanza1.png" class="card-img-top" alt="sedan">
                            <div class="card-body">
                                <h5 class="card-title">Đa dụng</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Praesentium est possimus dolorem debitis, consectetur culpa id quos ut corporis
                                    numquam totam tenetur! Nemo molestiae soluta atque sequi culpa? Rerum,
                                    perspiciatis.</p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Car Card -->
                        <div id="card" class="card">
                            <img src="/images/hilux1.png" class="card-img-top" alt="sedan">
                            <div class="card-body">
                                <h5 class="card-title">Bán tải</h5>
                                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo
                                    consectetur ipsum, delectus ea ratione iste maxime eum iure reiciendis facilis
                                    necessitatibus, dolore doloribus id, dolorum quae dolor totam voluptatum ut.</p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Car Card -->
                        <div id="card" class="card">
                            <img src="/images/hiace1.png" class="card-img-top" alt="sedan">
                            <div class="card-body">
                                <h5 class="card-title">Thương mại</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                                    fuga hic error, quod totam porro! Totam optio expedita commodi nulla doloremque.
                                    Voluptatem assumenda consequatur quisquam cumque nesciunt aspernatur vitae ad?
                                </p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row 3 -->
                <div class="row">
                    <hr>
                    <div id="service-items" class="row">
                        <div class="col-md-4">
                            <span class="bg-khuyen-mai-image"></span>
                            <p class="service-type">Khuyến mãi</p>
                        </div>
                        <div class="col-md-4">
                            <span class="bg-bang-gia-image"></span>
                            <p class="service-type">Bảng giá</p>
                        </div>
                        <div class="col-md-4">
                            <span class="bg-dang-ky-lai-thu-image"></span>
                            <p class="service-type">Đăng ký lái thử</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </section>

        <section class="services">
            <div class="container">
                <h1 class="title">DỊCH VỤ</h1>
            </div>
            <div class="container">
                <div class="row">
                    <h2 class="service-title mb-3">DỊCH VỤ SAU BÁN HÀNG</h2>
                    <div class="col-md-4" id="bao-duong-dinh-ky">
                        <!-- card -->
                        <div id="card-no-outline" class="card">
                            <img src="/images/bao-duong-dinh-ky.jpg" class="card-img-top" alt="bảo dưỡng định kỳ">
                            <div class="card-body">
                                <h5 class="card-title">Bảo dưỡng định kỳ</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga vel
                                    earum adipisci quo assumenda. Explicabo, dolore perferendis illum sunt minus id
                                    quidem sit incidunt necessitatibus illo unde. Atque, autem rem.</p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                        <!-- card -->
                    </div>
                    <div class="col-md-4" id="dich-vu-sua-chua">
                        <!-- card -->
                        <div id="card-no-outline" class="card">
                            <img src="/images/dich-vu-sua-chua.jpg" class="card-img-top" alt="dịch vụ sửa chữa">
                            <div class="card-body">
                                <h5 class="card-title">Dịch vụ sửa chữa</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga vel
                                    earum adipisci quo assumenda. Explicabo, dolore perferendis illum sunt minus id
                                    quidem sit incidunt necessitatibus illo unde. Atque, autem rem.</p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                        <!-- card -->
                    </div>
                    <div class="col-md-4" id="dich-vu-cham-soc-lam-dep-xe">
                        <!-- card -->
                        <div id="card-no-outline" class="card">
                            <img src="/images/dich-vu-cham-soc-lam-dep-xe.jpg" class="card-img-top"
                                alt="dịch vụ chăm sóc làm đẹp xe">
                            <div class="card-body">
                                <h5 class="card-title">Dịch vụ chăm sóc làm đẹp xe</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga vel
                                    earum adipisci quo assumenda. Explicabo, dolore perferendis illum sunt minus id
                                    quidem sit incidunt necessitatibus illo unde. Atque, autem rem.</p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                        <!-- card -->
                    </div>
                </div>
                <div class="row">
                    <h2 class="service-title mt-5 mb-3">DỊCH VỤ GIA TĂNG</h2>
                    <div class="col-md-4" id="xe-da-qua-su-dung">
                        <!-- card -->
                        <div id="card-no-outline" class="card">
                            <img src="/images/xe-da-qua-su-dung.jpg" class="card-img-top" alt="xe đã qua sử dụng">
                            <div class="card-body">
                                <h5 class="card-title">Xe đã qua sử dụng</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga vel
                                    earum adipisci quo assumenda. Explicabo, dolore perferendis illum sunt minus id
                                    quidem sit incidunt necessitatibus illo unde. Atque, autem rem.</p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                        <!-- card -->
                    </div>
                    <div class="col-md-4" id="bao-hiem-toyota">
                        <!-- card -->
                        <div id="card-no-outline" class="card">
                            <img src="/images/bao-hiem-toyota.jpg" class="card-img-top" alt="bảo hiểm Toyota">
                            <div class="card-body">
                                <h5 class="card-title">Bảo hiểm Toyota</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga vel
                                    earum adipisci quo assumenda. Explicabo, dolore perferendis illum sunt minus id
                                    quidem sit incidunt necessitatibus illo unde. Atque, autem rem.</p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                        <!-- card -->
                    </div>
                    <div class="col-md-4" id="dich-vu-tai-chinh">
                        <!-- card -->
                        <div id="card-no-outline" class="card">
                            <img src="/images/dich-vu-tai-chinh.jpg" class="card-img-top" alt="dịch vụ tài chính">
                            <div class="card-body">
                                <h5 class="card-title">Dịch vụ tài chính</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga vel
                                    earum adipisci quo assumenda. Explicabo, dolore perferendis illum sunt minus id
                                    quidem sit incidunt necessitatibus illo unde. Atque, autem rem.</p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                        <!-- card -->
                    </div>
                </div>
                <div class="row">
                    <h2 class="service-title mt-5 mb-3">SẢN PHẨM CHÍNH HÃNG</h2>
                    <div class="col-md-4" id="phu-kien-chinh-hang">
                        <!-- card -->
                        <div id="card-no-outline" class="card">
                            <img src="/images/phu-kien-chinh-hang.png" class="card-img-top" alt="phụ kiện chính hãng">
                            <div class="card-body">
                                <h5 class="card-title">Dịch vụ tài chính</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga vel
                                    earum adipisci quo assumenda. Explicabo, dolore perferendis illum sunt minus id
                                    quidem sit incidunt necessitatibus illo unde. Atque, autem rem.</p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                        <!-- card -->
                    </div>
                </div>
            </div>
        </section>

        <!-- Javascript link  -->
        <script src="https://kit.fontawesome.com/ce35990a57.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>

</html>