<%- include('./partials/header') %>
    <%- include('./partials/navbar') %>

        <section class="section-slide-banner">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div id="carousel-indicators" class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="btn-slide">
                            <button type="button" class="btn btn-danger" onclick="window.location.href='#'">MUA
                                NGAY</button>
                            <button type="button" class="btn btn-danger" onclick="window.location.href='#'">KHÁM
                                PHÁ NGAY</button>
                        </div>
                        <img src="/images/banner1.jpg" class="d-block w-100" alt="banner1">
                    </div>
                    <div class="carousel-item">
                        <div class="btn-slide">
                            <button type="button" class="btn btn-danger" onclick="window.location.href='#'">MUA
                                NGAY</button>
                            <button type="button" class="btn btn-danger" onclick="window.location.href='#'">KHÁM
                                PHÁ NGAY</button>
                        </div>
                        <img src="/images/banner2.jpg" class="d-block w-100" alt="banner2">
                    </div>
                    <div class="carousel-item">
                        <div class="btn-slide">
                            <button type="button" class="btn btn-danger" onclick="window.location.href='#'">MUA
                                NGAY</button>
                            <button type="button" class="btn btn-danger" onclick="window.location.href='#'">KHÁM
                                PHÁ NGAY</button>
                        </div>
                        <img src="/images/banner3.jpg" class="d-block w-100" alt="banner3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span id="carousel-control-prev-icon" class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span id="carousel-control-prev-icon" class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <section class="section-discovery-vehicles">
            <div class="container">
                <h1 class="title">
                    KHÁM PHÁ CÁC DÒNG XE TOYOTA
                </h1>
            </div>
            <div class="container">
                <!-- row 1 -->
                <div id="discovery-vehicles-row-1" class="row">
                    <div class="col-md-4">
                        <!-- Car Card -->
                        <div id="card" class="card">
                            <img src="/images/vios1.png" class="card-img-top" alt="sedan">
                            <div class="card-body">
                                <h5 class="card-title">Sedan</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                                    eos molestias enim, ipsa modi consectetur in fuga molestiae accusamus laborum,
                                    commodi nobis alias perspiciatis sint porro excepturi. Eligendi, reprehenderit
                                    voluptas!</p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Car Card -->
                        <div id="card" class="card">
                            <img src="/images/wigo1.png" class="card-img-top" alt="sedan">
                            <div class="card-body">
                                <h5 class="card-title">Hatchback</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                                    eos molestias enim, ipsa modi consectetur in fuga molestiae accusamus laborum,
                                    commodi nobis alias perspiciatis sint porro excepturi. Eligendi, reprehenderit
                                    voluptas!
                                </p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Car Card -->
                        <div id="card" class="card">
                            <img src="/images/fordtuner1.png" class="card-img-top" alt="sedan">
                            <div class="card-body">
                                <h5 class="card-title">SUV</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
                                    laborum fugit cupiditate eveniet iure id minus alias. Voluptates quae quo earum
                                    exercitationem expedita vel, iusto, consequatur magni, veritatis odit delectus!
                                </p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row 2 -->
                <div id="discovery-vehicles-row-2" class="row">
                    <div class="col-md-4">
                        <!-- Car Card -->
                        <div id="card" class="card">
                            <img src="/images/avanza1.png" class="card-img-top" alt="sedan">
                            <div class="card-body">
                                <h5 class="card-title">Đa dụng</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Praesentium est possimus dolorem debitis, consectetur culpa id quos ut corporis
                                    numquam totam tenetur! Nemo molestiae soluta atque sequi culpa? Rerum,
                                    perspiciatis.</p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Car Card -->
                        <div id="card" class="card">
                            <img src="/images/hilux1.png" class="card-img-top" alt="sedan">
                            <div class="card-body">
                                <h5 class="card-title">Bán tải</h5>
                                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo
                                    consectetur ipsum, delectus ea ratione iste maxime eum iure reiciendis facilis
                                    necessitatibus, dolore doloribus id, dolorum quae dolor totam voluptatum ut.</p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Car Card -->
                        <div id="card" class="card">
                            <img src="/images/hiace1.png" class="card-img-top" alt="sedan">
                            <div class="card-body">
                                <h5 class="card-title">Thương mại</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                                    fuga hic error, quod totam porro! Totam optio expedita commodi nulla doloremque.
                                    Voluptatem assumenda consequatur quisquam cumque nesciunt aspernatur vitae ad?
                                </p>
                                <a href="#" class="btn btn-danger">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row 3 -->
                <div class="row">
                    <hr>
                    <div id="service-items" class="row">
                        <div class="col-md-4" id="service-item">
                            <span class="bg-khuyen-mai-image"></span>
                            <p class="service-type">Khuyến mãi</p>
                        </div>
                        <div class="col-md-4" id="service-item">
                            <span class="bg-bang-gia-image"></span>
                            <p class="service-type">Bảng giá</p>
                        </div>
                        <div class="col-md-4" id="service-item">
                            <span class="bg-dang-ky-lai-thu-image"></span>
                            <p class="service-type">Đăng ký lái thử</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </section>

        <section class="section-services">
            <div class="container tabs">
                <h1 class="title">DỊCH VỤ</h1>
                <div class="wrapper">
                    <div class="buttonWrapper">
                        <button class="tab-button active" data-id="dich-vu-sau-ban-hang">DỊCH VỤ SAU BÁN HÀNG</button>
                        <button class="tab-button" data-id="dich-vu-gia-tang">DỊCH VỤ GIA TĂNG</button>
                        <button class="tab-button" data-id="san-pham-chinh-hang">SẢN PHẨM CHÍNH HÃNG</button>
                    </div>
                    <div class="contentWrapper">
                        <div class="content active" id="dich-vu-sau-ban-hang">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4" id="bao-duong-dinh-ky">
                                        <!-- card -->
                                        <div id="card-no-outline" class="card">
                                            <img src="/images/bao-duong-dinh-ky.jpg" class="card-img-top"
                                                alt="bảo dưỡng định kỳ">
                                            <div class="card-body">
                                                <h5 class="card-title">Bảo dưỡng định kỳ</h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                                    elit. Fuga vel
                                                    earum adipisci quo assumenda. Explicabo, dolore perferendis illum
                                                    sunt
                                                    minus id
                                                    quidem sit incidunt necessitatibus illo unde. Atque, autem rem.</p>
                                                <a href="#" class="btn btn-danger">Xem ngay</a>
                                            </div>
                                        </div>
                                        <!-- card -->
                                    </div>
                                    <div class="col-md-4" id="dich-vu-sua-chua">
                                        <!-- card -->
                                        <div id="card-no-outline" class="card">
                                            <img src="/images/dich-vu-sua-chua.jpg" class="card-img-top"
                                                alt="dịch vụ sửa chữa">
                                            <div class="card-body">
                                                <h5 class="card-title">Dịch vụ sửa chữa</h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                                    elit. Fuga vel
                                                    earum adipisci quo assumenda. Explicabo, dolore perferendis illum
                                                    sunt
                                                    minus id
                                                    quidem sit incidunt necessitatibus illo unde. Atque, autem rem.</p>
                                                <a href="#" class="btn btn-danger">Xem ngay</a>
                                            </div>
                                        </div>
                                        <!-- card -->
                                    </div>
                                    <div class="col-md-4" id="dich-vu-cham-soc-lam-dep-xe">
                                        <!-- card -->
                                        <div id="card-no-outline" class="card">
                                            <img src="/images/dich-vu-cham-soc-lam-dep-xe.jpg" class="card-img-top"
                                                alt="dịch vụ chăm sóc làm đẹp xe">
                                            <div class="card-body">
                                                <h5 class="card-title">Dịch vụ chăm sóc làm đẹp xe</h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                                    elit. Fuga vel
                                                    earum adipisci quo assumenda. Explicabo, dolore perferendis illum
                                                    sunt
                                                    minus id
                                                    quidem sit incidunt necessitatibus illo unde. Atque, autem rem.</p>
                                                <a href="#" class="btn btn-danger">Xem ngay</a>
                                            </div>
                                        </div>
                                        <!-- card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content" id="dich-vu-gia-tang">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4" id="xe-da-qua-su-dung">
                                        <!-- card -->
                                        <div id="card-no-outline" class="card">
                                            <img src="/images/xe-da-qua-su-dung.jpg" class="card-img-top"
                                                alt="xe đã qua sử dụng">
                                            <div class="card-body">
                                                <h5 class="card-title">Xe đã qua sử dụng</h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                                    elit. Fuga vel
                                                    earum adipisci quo assumenda. Explicabo, dolore perferendis illum
                                                    sunt minus id
                                                    quidem sit incidunt necessitatibus illo unde. Atque, autem rem.</p>
                                                <a href="#" class="btn btn-danger">Xem ngay</a>
                                            </div>
                                        </div>
                                        <!-- card -->
                                    </div>
                                    <div class="col-md-4" id="bao-hiem-toyota">
                                        <!-- card -->
                                        <div id="card-no-outline" class="card">
                                            <img src="/images/bao-hiem-toyota.jpg" class="card-img-top"
                                                alt="bảo hiểm Toyota">
                                            <div class="card-body">
                                                <h5 class="card-title">Bảo hiểm Toyota</h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                                    elit. Fuga vel
                                                    earum adipisci quo assumenda. Explicabo, dolore perferendis illum
                                                    sunt minus id
                                                    quidem sit incidunt necessitatibus illo unde. Atque, autem rem.</p>
                                                <a href="#" class="btn btn-danger">Xem ngay</a>
                                            </div>
                                        </div>
                                        <!-- card -->
                                    </div>
                                    <div class="col-md-4" id="dich-vu-tai-chinh">
                                        <!-- card -->
                                        <div id="card-no-outline" class="card">
                                            <img src="/images/dich-vu-tai-chinh.jpg" class="card-img-top"
                                                alt="dịch vụ tài chính">
                                            <div class="card-body">
                                                <h5 class="card-title">Dịch vụ tài chính</h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                                    elit. Fuga vel
                                                    earum adipisci quo assumenda. Explicabo, dolore perferendis illum
                                                    sunt minus id
                                                    quidem sit incidunt necessitatibus illo unde. Atque, autem rem.</p>
                                                <a href="#" class="btn btn-danger">Xem ngay</a>
                                            </div>
                                        </div>
                                        <!-- card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content" id="san-pham-chinh-hang">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4" id="phu-kien-chinh-hang">
                                        <!-- card -->
                                        <div id="card-no-outline" class="card">
                                            <img src="/images/phu-kien-chinh-hang.png" class="card-img-top"
                                                alt="phụ kiện chính hãng">
                                            <div class="card-body">
                                                <h5 class="card-title">Dịch vụ tài chính</h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                                    elit. Fuga vel
                                                    earum adipisci quo assumenda. Explicabo, dolore perferendis illum
                                                    sunt minus id
                                                    quidem sit incidunt necessitatibus illo unde. Atque, autem rem.</p>
                                                <a href="#" class="btn btn-danger">Xem ngay</a>
                                            </div>
                                        </div>
                                        <!-- card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>

        <section class="section-technologies">
            <div class="container tabs">
                <h1 class="title">CÔNG NGHỆ</h1>
                <div class="wrapper">
                    <div class="buttonWrapper">
                        <button class="tab-button active" data-id="hybrid">HYBRID</button>
                        <button class="tab-button" data-id="tss">TSS</button>
                        <button class="tab-button" data-id="tnga">TNGA</button>
                    </div>
                    <div class="contentWrapper">
                        <div class="content active" id="hybrid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <iframe width="100%" height="350"
                                            src="https://www.youtube.com/embed/uhAF8W6jml0" title="YouTube video player"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                    <div class="col-md-6">
                                        <iframe width="100%" height="350"
                                            src="https://www.youtube.com/embed/e-LbRfjz2Nc" title="YouTube video player"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                    <a href="#" id="read-more-tech" class="btn btn-danger">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                        <div class="content" id="tss">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/images/toyota-safety-sense.webp" class="img-fluid"
                                            alt="Toyota Safety Sense">
                                    </div>
                                    <div class="col-md-6">
                                        <iframe width="100%" height="350"
                                            src="https://www.youtube.com/embed/SL3otKUZd64" title="YouTube video player"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                    <a href="#" id="read-more-tech" class="btn btn-danger">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                        <div class="content" id="tnga">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5">
                                        <iframe width="100%" height="350"
                                            src="https://www.youtube.com/embed/e-LbRfjz2Nc" title="YouTube video player"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                    <div class="col-lg-2">
                                        <iframe width="100%" height="175"
                                            src="https://www.youtube.com/embed/T3LiJSiYUJk" title="YouTube video player"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                        <iframe width="100%" height="175"
                                            src="https://www.youtube.com/embed/k0EnanbxcoI" title="YouTube video player"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                    <div class="col-md-5">
                                        <iframe width="100%" height="350"
                                            src="https://www.youtube.com/embed/Jwq8It3gY0Q" title="YouTube video player"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                    <a href="#" id="read-more-tech" class="btn btn-danger">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ----------------PRODUCT PAGE----------------------- -->
        <section class="section-product-banner">
            <div class="banner">
                <img class="img-fluid" src="/images/banner-product.jpg" alt="Product banner">
            </div>
        </section>

        <section class="section-product-filter">
            <div class="container my-5">
                <div class="row">
                    <div class="col-md-4" id="product-filter-col">
                        <label for="car-style" class="product-filter-label fw-bold mb-2 mt-2">Kiểu dáng</label>
                        <select class="form-select select-group-label" name="car-style"
                            aria-label="Default select example">
                            <option selected disabled>Chọn</option>
                            <option value>Tất cả</option>
                            <option value="0001">Sedan</option>
                            <option value="0002">Hatchback</option>
                            <option value="0003">SUV</option>
                            <option value="0004">Đa dụng</option>
                            <option value="0005">Bán tải</option>
                            <option value="0006">Thương mại</option>
                        </select>
                    </div>
                    <div class="col-md-4" id="product-filter-col">
                        <label for="car-style" class="product-filter-label fw-bold mb-2 mt-2">Giá</label>
                        <select class="form-select select-group-label" name="car-style"
                            aria-label="Default select example">
                            <option selected disabled>Chọn</option>
                            <option value>Tất cả</option>
                            <option value="6">300 triệu - 500 triệu</option>
                            <option value="1">500 triệu - 1 tỷ</option>
                            <option value="2">1 tỷ - 2 tỷ</option>
                            <option value="3">2 tỷ - 3 tỷ</option>
                            <option value="4">3 tỷ - 4 tỷ</option>
                            <option value="5">Trên 4 tỷ</option>
                        </select>
                    </div>
                    <div class="col-md-4" id="product-filter-col">
                        <label for="car-style" class="product-filter-label fw-bold mb-2 mt-2">Số chỗ ngồi</label>
                        <select class="form-select select-group-label" name="car-style"
                            aria-label="Default select example">
                            <option selected disabled>Chọn</option>
                            <option value>Tất cả</option>
                            <option value="1">5 chỗ</option>
                            <option value="2">7 chỗ</option>
                            <option value="3">8 chỗ</option>
                            <option value="4">9 chỗ</option>
                            <option value="5">15 chỗ</option>
                        </select>
                    </div>
                    <div class="col-md-3" id="product-filter-col">
                        <label for="car-style" class="product-filter-label fw-bold mb-2 mt-2">Dòng xe</label>
                        <select class="form-select select-group-label" name="car-style"
                            aria-label="Default select example">
                            <option selected disabled>Chọn</option>
                            <option value>Tất cả</option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-md-3" id="product-filter-col">
                        <label for="car-style" class="product-filter-label fw-bold mb-2 mt-2">Phiên Bản</label>
                        <select class="form-select select-group-label" name="car-style"
                            aria-label="Default select example">
                            <option selected disabled>Chọn</option>
                            <option value>Tất cả</option>
                            <option value="0001">Sedan</option>
                        </select>
                    </div>
                    <div class="col-md-3" id="product-filter-col">
                        <label for="car-style" class="product-filter-label fw-bold mb-2 mt-2">Nhiên liệu</label>
                        <select class="form-select select-group-label" name="car-style"
                            aria-label="Default select example">
                            <option selected disabled>Chọn</option>
                            <option value>Tất cả</option>
                            <option value="0001">Sedan</option>
                        </select>
                    </div>
                    <div class="col-md-3" id="product-filter-col">
                        <label for="car-style" class="product-filter-label fw-bold mb-2 mt-2">Xuất xứ</label>
                        <select class="form-select select-group-label" name="car-style"
                            aria-label="Default select example">
                            <option selected disabled>Chọn</option>
                            <option value>Tất cả</option>
                            <option value="0001">Sedan</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-product-list-car py-5">
            <div class="container" id="list-car-container">
                <div class="list-car-sort">
                    <select class="form-select select-group-label" name="car-style" aria-label="Default select example">
                        <option selected disabled>Sắp xếp</option>
                        <option value>Tất cả</option>
                        <option value="0001">Sedan</option>
                    </select>
                </div>
                <div class="row" id="list-car">
                    <div class="col-md-4">
                        <div class="box-product-item">
                            <div class="product-item-image">
                                <a href="">
                                    <img id="product-car-img" class="img-fluid" src="/images/vios1.png"
                                        alt="VIOS 1.5E MT (3 túi khí)">
                                </a>
                            </div>
                            <div class="product-item-content">
                                <h2 class="content-title">VIOS 1.5E MT (3 túi khí)</h2>
                                <p class="content-price">
                                    <span>Giá từ</span>
                                    <span>478.000.000</span>
                                    <span>VNĐ</span>
                                </p>
                                <div class="content-product-description">
                                    <p class="mb-2"><span>5 chỗ</span> - <span>Sedan</span> - <span>Xăng</span></p>
                                    <p class="mb-2"><span>Xe trong nước</span> - <span>Số tay 5 cấp</span></p>
                                    <p class="mb-2"><span>Động cơ xăng dung tích 1496cc</span></p>
                                </div>
                                <div class="content-product-compare mt-4">
                                    <button class="btn btn-danger">DỰ TOÁN</button>
                                    <button class="btn btn-outline-danger">SO SÁNH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-product-item">
                            <div class="product-item-image">
                                <a href="">
                                    <img id="product-car-img" class="img-fluid" src="/images/vios1.png"
                                        alt="VIOS 1.5E MT (3 túi khí)">
                                </a>
                            </div>
                            <div class="product-item-content">
                                <h2 class="content-title">VIOS 1.5E MT (3 túi khí)</h2>
                                <p class="content-price">
                                    <span>Giá từ</span>
                                    <span>478.000.000</span>
                                    <span>VNĐ</span>
                                </p>
                                <div class="content-product-description">
                                    <p class="mb-2"><span>5 chỗ</span> - <span>Sedan</span> - <span>Xăng</span></p>
                                    <p class="mb-2"><span>Xe trong nước</span> - <span>Số tay 5 cấp</span></p>
                                    <p class="mb-2"><span>Động cơ xăng dung tích 1496cc</span></p>
                                </div>
                                <div class="content-product-compare mt-4">
                                    <button class="btn btn-danger">DỰ TOÁN</button>
                                    <button class="btn btn-outline-danger">SO SÁNH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-product-item">
                            <div class="product-item-image">
                                <a href="">
                                    <img id="product-car-img" class="img-fluid" src="/images/vios1.png"
                                        alt="VIOS 1.5E MT (3 túi khí)">
                                </a>
                            </div>
                            <div class="product-item-content">
                                <h2 class="content-title">VIOS 1.5E MT (3 túi khí)</h2>
                                <p class="content-price">
                                    <span>Giá từ</span>
                                    <span>478.000.000</span>
                                    <span>VNĐ</span>
                                </p>
                                <div class="content-product-description">
                                    <p class="mb-2"><span>5 chỗ</span> - <span>Sedan</span> - <span>Xăng</span></p>
                                    <p class="mb-2"><span>Xe trong nước</span> - <span>Số tay 5 cấp</span></p>
                                    <p class="mb-2"><span>Động cơ xăng dung tích 1496cc</span></p>
                                </div>
                                <div class="content-product-compare mt-4">
                                    <button class="btn btn-danger">DỰ TOÁN</button>
                                    <button class="btn btn-outline-danger">SO SÁNH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-product-item">
                            <div class="product-item-image">
                                <a href="">
                                    <img id="product-car-img" class="img-fluid" src="/images/vios1.png"
                                        alt="VIOS 1.5E MT (3 túi khí)">
                                </a>
                            </div>
                            <div class="product-item-content">
                                <h2 class="content-title">VIOS 1.5E MT (3 túi khí)</h2>
                                <p class="content-price">
                                    <span>Giá từ</span>
                                    <span>478.000.000</span>
                                    <span>VNĐ</span>
                                </p>
                                <div class="content-product-description">
                                    <p class="mb-2"><span>5 chỗ</span> - <span>Sedan</span> - <span>Xăng</span></p>
                                    <p class="mb-2"><span>Xe trong nước</span> - <span>Số tay 5 cấp</span></p>
                                    <p class="mb-2"><span>Động cơ xăng dung tích 1496cc</span></p>
                                </div>
                                <div class="content-product-compare mt-4">
                                    <button class="btn btn-danger">DỰ TOÁN</button>
                                    <button class="btn btn-outline-danger">SO SÁNH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-product-item">
                            <div class="product-item-image">
                                <a href="">
                                    <img id="product-car-img" class="img-fluid" src="/images/vios1.png"
                                        alt="VIOS 1.5E MT (3 túi khí)">
                                </a>
                            </div>
                            <div class="product-item-content">
                                <h2 class="content-title">VIOS 1.5E MT (3 túi khí)</h2>
                                <p class="content-price">
                                    <span>Giá từ</span>
                                    <span>478.000.000</span>
                                    <span>VNĐ</span>
                                </p>
                                <div class="content-product-description">
                                    <p class="mb-2"><span>5 chỗ</span> - <span>Sedan</span> - <span>Xăng</span></p>
                                    <p class="mb-2"><span>Xe trong nước</span> - <span>Số tay 5 cấp</span></p>
                                    <p class="mb-2"><span>Động cơ xăng dung tích 1496cc</span></p>
                                </div>
                                <div class="content-product-compare mt-4">
                                    <button class="btn btn-danger">DỰ TOÁN</button>
                                    <button class="btn btn-outline-danger">SO SÁNH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-product-item">
                            <div class="product-item-image">
                                <a href="">
                                    <img id="product-car-img" class="img-fluid" src="/images/vios1.png"
                                        alt="VIOS 1.5E MT (3 túi khí)">
                                </a>
                            </div>
                            <div class="product-item-content">
                                <h2 class="content-title">VIOS 1.5E MT (3 túi khí)</h2>
                                <p class="content-price">
                                    <span>Giá từ</span>
                                    <span>478.000.000</span>
                                    <span>VNĐ</span>
                                </p>
                                <div class="content-product-description">
                                    <p class="mb-2"><span>5 chỗ</span> - <span>Sedan</span> - <span>Xăng</span></p>
                                    <p class="mb-2"><span>Xe trong nước</span> - <span>Số tay 5 cấp</span></p>
                                    <p class="mb-2"><span>Động cơ xăng dung tích 1496cc</span></p>
                                </div>
                                <div class="content-product-compare mt-4">
                                    <button class="btn btn-danger">DỰ TOÁN</button>
                                    <button class="btn btn-outline-danger">SO SÁNH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-product-item">
                            <div class="product-item-image">
                                <a href="">
                                    <img id="product-car-img" class="img-fluid" src="/images/vios1.png"
                                        alt="VIOS 1.5E MT (3 túi khí)">
                                </a>
                            </div>
                            <div class="product-item-content">
                                <h2 class="content-title">VIOS 1.5E MT (3 túi khí)</h2>
                                <p class="content-price">
                                    <span>Giá từ</span>
                                    <span>478.000.000</span>
                                    <span>VNĐ</span>
                                </p>
                                <div class="content-product-description">
                                    <p class="mb-2"><span>5 chỗ</span> - <span>Sedan</span> - <span>Xăng</span></p>
                                    <p class="mb-2"><span>Xe trong nước</span> - <span>Số tay 5 cấp</span></p>
                                    <p class="mb-2"><span>Động cơ xăng dung tích 1496cc</span></p>
                                </div>
                                <div class="content-product-compare mt-4">
                                    <button class="btn btn-danger">DỰ TOÁN</button>
                                    <button class="btn btn-outline-danger">SO SÁNH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-product-item">
                            <div class="product-item-image">
                                <a href="">
                                    <img id="product-car-img" class="img-fluid" src="/images/vios1.png"
                                        alt="VIOS 1.5E MT (3 túi khí)">
                                </a>
                            </div>
                            <div class="product-item-content">
                                <h2 class="content-title">VIOS 1.5E MT (3 túi khí)</h2>
                                <p class="content-price">
                                    <span>Giá từ</span>
                                    <span>478.000.000</span>
                                    <span>VNĐ</span>
                                </p>
                                <div class="content-product-description">
                                    <p class="mb-2"><span>5 chỗ</span> - <span>Sedan</span> - <span>Xăng</span></p>
                                    <p class="mb-2"><span>Xe trong nước</span> - <span>Số tay 5 cấp</span></p>
                                    <p class="mb-2"><span>Động cơ xăng dung tích 1496cc</span></p>
                                </div>
                                <div class="content-product-compare mt-4">
                                    <button class="btn btn-danger">DỰ TOÁN</button>
                                    <button class="btn btn-outline-danger">SO SÁNH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-product-item">
                            <div class="product-item-image">
                                <a href="">
                                    <img id="product-car-img" class="img-fluid" src="/images/vios1.png"
                                        alt="VIOS 1.5E MT (3 túi khí)">
                                </a>
                            </div>
                            <div class="product-item-content">
                                <h2 class="content-title">VIOS 1.5E MT (3 túi khí)</h2>
                                <p class="content-price">
                                    <span>Giá từ</span>
                                    <span>478.000.000</span>
                                    <span>VNĐ</span>
                                </p>
                                <div class="content-product-description">
                                    <p class="mb-2"><span>5 chỗ</span> - <span>Sedan</span> - <span>Xăng</span></p>
                                    <p class="mb-2"><span>Xe trong nước</span> - <span>Số tay 5 cấp</span></p>
                                    <p class="mb-2"><span>Động cơ xăng dung tích 1496cc</span></p>
                                </div>
                                <div class="content-product-compare mt-4">
                                    <button class="btn btn-danger">DỰ TOÁN</button>
                                    <button class="btn btn-outline-danger">SO SÁNH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-car-pagination">
                    <nav aria-label="...">
                        <ul class="pagination pagination-lg justify-content-center">
                            <li class="page-item disabled"> <a class="page-link">Trước</a> </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item" aria-current="page"> <a class="page-link" href="#">2</a> </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"> <a class="page-link" href="#">Sau</a> </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>

        <!-- ----------------PRODUCT PAGE----------------------- -->

        <section class="section-form-contact">
            <div class="container">
                <h2 class="form-contact-title">TRAO ĐỔI VỚI CHÚNG TÔI</h2>
                <div class="mb-3">
                    <label for="full-name" class="form-label">Họ và tên</label>
                    <input type="text" class="form-control" id="full-name" placeholder="Nguyễn Văn A">
                </div>
                <div class="mb-3">
                    <label for="phone-number" class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" id="phone-number" placeholder="0905604422">
                </div>
                <div class="mb-3">
                    <label for="email-address" class="form-label">Địa chỉ email</label>
                    <input type="email" class="form-control" id="email-address" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="thong-tin-can-biet" class="form-label">Điền yêu cầu/ thắc mắc</label>
                    <textarea class="form-control" id="thong-tin-can-biet" rows="3"></textarea>
                </div>
                <button id="send-form-btn" class="btn btn-danger">GỬI</button>
            </div>
        </section>

        <%- include('./partials/footer') %>