    <%- include('./partials/header') %>
    <%- include('./partials/navbar') %>
    <section class="subnav">
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/hybrid">HYBRID</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tss">TSS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tnga">TNGA</a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
    <section class="technology-banner">
      <img src="/images/hybrid-banner.jpg" class="img-fluid" alt="..." />
    </section>
    <section class="technology-content">
      <div class="container">
        <div class="technology-tag">
          <div class="technology-tag-title">
            <h1>VỀ HYBRID</h1>
          </div>
          <div class="technology-tag-subtitle">
            <p>
              Toyota là công ty tiên phong giới thiệu công nghệ Hybrid trên thế
              giới.
            </p>
          </div>
        </div>
        <div class="technology-infor">
          <div class="technology-main-title">
            <h1>GIỚI THIỆU VỀ CÔNG NGHỆ TOYOTA HYBRID</h1>
          </div>
          <div class="technology-text">
            <div class="technology-text-title">
              <h2>CÔNG NGHỆ HYBRID LÀ GÌ?</h2>
            </div>
            <div class="technology-text-content">
              <p>
                Xe Hybrid hay còn gọi là xe lai nghĩa là kết hợp sử dụng 2 bộ
                truyền động, một động cơ chạy xăng và một mô tơ chạy điện. Đặc
                điểm quan trọng nhất của xe Hybrid là khả năng tiết kiệm nhiên
                liệu, thân thiện môi trường, vận hành mạnh mẽ và yên tĩnh. Hơn
                nữa, công nghệ pin Hybrid là một phần quan trọng tạo nên sự vận
                hành mạnh mẽ và độ tin cậy cao.
              </p>
              <p>
                <strong>Trang bị hệ thống lái độc đáo</strong><br />
                Xe hybrid sử dụng động cơ xăng và cả mô tơ điện trong khi đó các
                xe thông thường chỉ sử dụng động cơ xăng. Tùy thuộc vào hệ
                thống, xe Hybrid sẽ sử dụng hai nguồn năng lượng theo các cách
                khác nhau để tạo nên sự vận hành mạnh mẽ mà vẫn đạt hiệu quả
                tiết kiệm nhiên liệu tối ưu.
              </p>
              <p>
                <strong>Công nghệ Pin Hybrid</strong><br />
                So với ắc quy trên xe thông thường, pin Hybrid lớn hơn nhiều và
                mạnh mẽ hơn. Do pin là nguồn điện chính cho mô tơ nên pin có thể
                truyền đi và nhận về dòng điện lớn. Pin Hybrid tự động sạc trong
                quá trình xe vận hành vì vậy không tốn thời gian để sạc pin.
                HEVs không cần yêu cầu trạm sạc.
              </p>
            </div>
            <div class="technology-text-title">
              <h2>HỆ THỐNG TOYOTA HYBRID CÓ ĐIỂM GÌ KHÁC BIỆT?</h2>
            </div>
            <p>
              <strong>Hệ thống Hybrid nối tiếp song song</strong><br />
              Có rất nhiều hệ thống Hybrid trên thị trường. Điều gì khiến Hệ
              thống Toyota Hybrid khác biệt và nổi trội?<br />
              Hệ thống Toyota Hybrid (THS) kết hợp giữa động cơ đốt trong hiệu
              suất cao và mô tơ điện công suất lớn và hiệu quả của việc kết hợp
              hai nguồn công suất này phụ thuộc vào điều kiện lái. Một hệ thống
              quản lý năng lượng sẽ đảm bảo xe vận hành với hiệu suất tối ưu
              nhất. <br />
              Hơn nữa, hệ thống Toyota Hybrid còn được coi là hệ thống Hybrid
              mạnh mẽ, được trang bị pin và mô tơ điện công suất lớn. Hệ thống
              Toyota Hybrid có khả năng lựa chọn nguồn năng lượng cần thiết để
              vận hành xe một cách mạnh mẽ mà vẫn tiết kiệm nhiên liệu.
            </p>
            <p>
              <strong>Khi xe bắt đầu chuyển động:</strong>
              Ở tốc độ thấp, năng lượng được cung cấp từ pin Hybrid đến động cơ
              điện. Động cơ xăng vẫn tắt, xe chuyển động êm ái và mượt mà nhờ
              động cơ điện <br />
              <strong>Khi tăng tốc:</strong> Động cơ điện và động cơ xăng kết
              hợp cùng hoạt động để đạt được công suất mạnh mẽ. Khi ắc quy
              Hybrid không còn đủ năng lượng, động cơ xăng sẽ làm quay động cơ
              điện và sử dụng nguồn điện tạo ra để dẫn động bánh xe. <br />
              <strong>Khi giảm tốc và phanh:</strong>
              Động cơ điện sử dụng động năng của xe làm máy phát quay, lượng
              điện này sẽ được tích vào pin Hybrid <br />
              <strong>Khi xe ở chế độ nghỉ:</strong> Động cơ điện và động cơ
              xăng tự động tắt để bảo toàn năng lượng. Nhiên liệu không bị lãng
              phí khi xe không hoạt động
            </p>
          </div>

          <div class="technology-main-title">
            <h1>LỢI ÍCH CỦA CÔNG NGHỆ TOYOTA HYBRID</h1>
          </div>
          <div class="technology-text">
            <div class="technology-text-title">
              <h2>LỢI ÍCH ĐỐI VỚI NGƯỜI DÙNG XE HYBRID</h2>
            </div>
            <div class="technology-text-content">
            <p>
              <strong>Hiệu quả nhiên liệu tối ưu</strong>Hệ thống Toyota Hybrid sử dụng mô tơ điện để khởi động hay khi đi ở tốc độ thấp trước khi tăng tốc trong khi động cơ xăng tắt giúp tiết kiệm nhiên liệu. Khi trên hành trình, năng lượng từ động cơ xăng và mô tơ điện kết hợp tự động và hiệu quả để đáp ứng từng chế độ lái. Hơn nữa, động cơ xăng cũng ngắt khi xe ở chế độ nghỉ (idling) để tiết kiệm nhiên liệu. <br />
              <strong>Phát thải thấp</strong> Khi mô tơ điện hoạt động thay thế cho động cơ xăng trong quá trình vận hành sẽ giúp giảm phát thải. Khi chạy hoàn toàn bằng điện, hay xe ở chế độ nghỉ, động cơ xăng tắt cũng giảm tiêu hao nhiên liệu và phát thải. <br />
              <strong>Hứng khởi khi lái xe</strong>Bằng việc kết hợp giữa mô tơ điện công suất cao và động cơ xăng, hệ thống Hybrid của Toyota giúp cho việc tăng tốc trở nên mạnh mẽ hơn. Trên hành trình, động cơ xăng và mô tơ điện cùng tác động lên bánh lái: động cơ xăng được chia đôi nguồn năng lượng, một phần để tác động đến bánh xe, một phần sạc vào máy phát điện, tác động lên mô tơ. Sự phân chia năng lượng giúp tối đa hiệu suất. <br />
              <strong>Êm ái & Tĩnh lặng</strong>Chế độ lái hoàn toàn bằng điện giúp xe vận hành êm ái và tĩnh lặng tuyệt đối. Chế độ lái hoàn toàn bằng điện đặc biệt phát huy tác dụng khi vận hành vào sáng sớm hay đêm muộn trong những khu dân cư hay dưới hầm đỗ xe. Đây cũng là lợi thế tuyệt vời của hệ thống Toyota Hybrid.</p>
          </div>
      </div>
    </section>
    <%- include('./partials/footer') %>

