<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<section class="subnav">
  <nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/hybrid">HYBRID</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tss">TSS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tnga">TNGA</a>
        </li>
      </ul>
    </div>
  </nav>
</section>
<section class="technology-banner">
  <img src="/images/hybrid-banner.jpg" class="img-fluid" alt="..." />
</section>
<section class="technology-content">
  <div class="container">
    <div class="technology-tag">
      <div class="technology-tag-title">
        <h1>VỀ TSS</h1>
      </div>
      <div class="technology-tag-subtitle">
        <p>
          Toyota Safety Sense (TSS) - Gói an toàn chủ động, tiên tiến, mới nhất của Toyota. Hệ thống an toàn Toyota (TSS) được thiết kế giúp bảo vệ người lái, hành khách, người tham gia giao thông khỏi tai nạn. Toyota luôn tạo ra những tiến bộ và đổi mới về an toàn giúp ngăn ngừa sự cố và bảo vệ con người
        </p>
      </div>
    </div>
    <div class="technology-infor">
      <div class="technology-main-title">
        <h1>TSS TẬP TRUNG VÀO 3 LOẠI TAI NẠN PHỔ BIẾN NHẤT</h1>
      </div>
      <div class="technology-text">
        <!-- <div class="technology-text-title">
          <h2>CÔNG NGHỆ HYBRID LÀ GÌ?</h2>
        </div> -->
        <div class="technology-text-content">
          <p>
            Trong một số điều kiện nhất định, Hệ thống an toàn Toyota TSS được thiết kế để hỗ trợ nhận thức của lái xe, khi ra quyết định và điều khiển phương tiện với tốc độ cao. Gói an toàn tích hợp các tính năng tối tân nhất, tập trung vào 3 mục đích chính: giảm thiếu hoặc phòng tránh va chạm trước, hỗ trợ giữ làn đường và tăng cường an toàn trong hành trình lái xe ban đêm.
            Tuy nhiên, lái xe chịu trách nhiệm cho sự an toàn của chính họ và phải luôn lái xe an toàn, tuân thủ các giới hạn và luật lệ về tốc độ giao thông và tập trung vào đường khi lái xe.
          </p>
        </div>

      <div class="technology-main-title">
        <h1>TSS BAO GỒM 5 TÍNH NĂNG AN TOÀN CHỦ ĐỘNG VÀ HỖ TRỢ NGƯỜI LÁI</h1>
      </div>
      <div class="technology-text">
        <div class="technology-text-title">
          <h2 class="text-center">HỆ THỐNG ĐÈN PHA TỰ ĐỘNG THÍCH ỨNG (AHB)</h2>
        </div>
        <div class="technology-text-content">
        <p>Hệ thống đèn pha tự động thích ứng (AHB) là hệ thống an toàn được thiết kế để giúp lái xe cải thiện tầm nhìn vào ban đêm - đồng thời giảm độ chói cho những xe khác. Thông qua việc tăng cường chiếu sáng khoảng rộng, hệ thống có thể cho phép phát hiện sớm hơn người đi bộ và chướng ngại vật.
        </p>
        <p>Khi được kích hoạt, AHB sử dụng camera trong xe để giúp phát hiện đèn pha của xe đối diện và đèn hậu của xe trước, sau đó tự động điều chỉnh độ sáng phù hợp.</p>
        </div>

        <div class="technology-text-title">
          <h2 class="text-center">HỆ THỐNG HỖ TRỢ GIỮ LÀN ĐƯỜNG (LTA)</h2>
        </div>
        <div class="technology-text-content">
        <p>Khi được kích hoạt, hệ thống sẽ cảnh báo người lái về khả năng di chuyển lệch khỏi làn đường hiện tại bằng tín hiệu phát sáng hoặc cảnh cáo âm thanh hay rung vô lăng (Hệ thống cũng có thể tự điều chỉnh vô lăng), đồng thời hỗ trợ đánh lái để duy trì làn đường.
        </p>
        <p>Thêm vào đó, khi di chuyển trên đường cao tốc, kết hợp cùng hệ thống điều khiển hành trình loại thích ứng DRCC, xe sẽ tự động duy trì làn đường và duy trì khoảng cách với xe phía trước, tối đa tính tiện nghi và an toàn.
        </p>

        <div class="technology-text-title">
          <h2 class="text-center">HỆ THỐNG CẢNH BÁO CHỆCH LÀN ĐƯỜNG (LDA)</h2>
        </div>
        <div class="technology-text-content">
        <p>
          Hệ thống cảnh báo chệch làn đường (LDA) sử dụng camera trước của xe để phát hiện làn đường khởi hành khi đi trên những con đường thẳng với vạch kẻ rõ ràng, mép đường và lề đường. Trạng thái hoạt động của hệ thống được biểu thị thông qua hình minh họa đánh dấu làn đường màu trên Màn hình đa thông tin (MID) của xe.
        </p>
        <p>
          Nếu LDA xác định rằng chiếc xe đang bắt đầu đi chệch khỏi làn đường đã được đánh dấu, hệ thống sẽ cảnh báo người lái bằng một cảnh báo âm thanh và hình ảnh. Khi cảnh báo này xảy ra, lái xe phải kiểm tra cẩn thận làn đường xung quanh trước khi đưa xe an toàn trở lại làn đường ban đầu.
        </p>
        </div>
</section>
<%- include('./partials/footer') %>