* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

/* ---------- Nav bar ---------- */
#navbar {
    padding: 0;
}
.navbar {
    border-bottom: 3px solid #EB0A1E;
}
#logo {
    width: 80px;
    margin-right: 146px;
}
#navbar-brand {
    margin-right: 0;
}
.navbar-nav {
    font-size: 20px;
    font-weight: 400;
}
#nav-list-items {
    width: 100%;
    justify-content: center;
}
.nav-item {
    padding: 0 20px;
}
#navbarDropdown {
    color: black;
    border-radius: 7px;
}
#navbarDropdown:hover {
    color: white;
    background-color: #EB0A1E;
    border-radius: 7px;
    /* padding: 0; */
}
#btn-red {
    color: #EB0A1E;
    border-color: #EB0A1E;
}
#btn-red:hover {
    color: white;
    background-color: #EB0A1E;
}
#search-box{
    border-color: #EB0A1E;
}

/* ---------- Slide Section ---------- */
.section-slide-banner {
    width: 90%;
    margin: auto;
    padding-bottom: 60px;
}
#carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: black;
}
#carousel-control-next-icon {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: black;
}
#carousel-indicators [data-bs-target] {
    background-color: #EB0A1E;
}
.btn-slide {
    position: absolute;
    left: 8%;
    top: 50vh;
}

/* ---------- Discovery Vehicle Section ---------- */
.section-discovery-vehicles {
    padding-top: 60px;
    padding-bottom: 60px;
}
.title {
    font-weight: bold;
    font-size: 38px;
    line-height: 120%;
    color: #1A1A1A;
    margin-bottom: 56px;
}
#discovery-vehicles-row-1, #discovery-vehicles-row-2{
    margin-bottom: 56px;
}
.card {
    transition: 0.3s;
}
#card {
    border: 1px solid #EB0A1E;
}
.card:hover {
    border: 1px solid #EB0A1E;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 2px #EB0A1E;
    z-index: 1;
    transform: translateY(-2%);
}
.card-img-top {
    padding-top: 20px;
}
hr:not([size]) {
    margin: 30px auto;
}
#service-items {
    text-align: center;
}
#service-items span {
    margin: auto;
}
.bg-khuyen-mai-image {
    display: block;
    width: 82px;
    height: 82px;
    background: url(/images/icons.png) -210px -10px;
}
.bg-bang-gia-image {
    display: block;
    width: 82px;
    height: 82px;
    background: url(/images/icons.png) -210px -112px;
}
.bg-dang-ky-lai-thu-image {
    display: block;
    width: 82px;
    height: 82px;
    background: url(/images/icons.png) -312px -10px;
}
.service-type {
    margin: 0;
    margin-top: 16px;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color: #1A1A1A;
}
/* ---------- Service Section ---------- */
.section-services {
    padding-top: 60px;
    padding-bottom: 60px;
}
#card-no-outline .card-img-top{
    padding-top: 0;
    height: 249px;
    object-fit: cover;
    object-position: center;
}

/* ---------- Service Technologies ---------- */
.section-technologies {
    padding-top: 60px;
    padding-bottom: 60px;
}
#read-more-tech {
    width: 150px;
    margin: auto;
    margin-top: 30px;
    padding: auto;
}
/* ---------- Service Section ---------- */
/* ---------- Service Section ---------- */
/* ---------- Service Section ---------- */