<section class="section-footer">
    <div class="container">
        <div class="footer-tool">
            <div class="close-tool">
                <i class="fas fa-times"></i>
                <i class="fas fa-bars d-none"></i>
            </div>
            <a href="#" class="tool-item">
                <span class="bg-icon bg-icon-compare"></span>
                <span class="tool-item-title">So sánh xe</span>
            </a>
            <a href="#" class="tool-item">
                <span class="bg-icon bg-icon-calculate"></span>
                <span class="tool-item-title">Dự toán chi phí</span>
            </a>
            <a href="#" class="tool-item">
                <span class="bg-icon bg-icon-drive"></span>
                <span class="tool-item-title">Đăng ký lái thử</span>
            </a>
            <a href="#" class="tool-item">
                <span class="bg-icon bg-icon-service"></span>
                <span class="tool-item-title">Đặt hẹn dịch vụ</span>
            </a>
            <a href="#" class="tool-item">
                <span class="bg-icon bg-icon-price"></span>
                <span class="tool-item-title">Tải bảng giá</span>
            </a>
            <a href="#" class="tool-item">
                <span class="bg-icon bg-icon-download"></span>
                <span class="tool-item-title">Tải catalogue</span>
            </a>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row footer-menu">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <h3 class="footer-menu-title">SẢN PHẨM</h3>
                <p class="footer-menu-item"><a href="#">Hatchback</a></p>
                <p class="footer-menu-item"><a href="#">Sedan</a></p>
                <p class="footer-menu-item"><a href="#">SUV</a></p>
                <p class="footer-menu-item"><a href="#">Đa dụng</a></p>
                <p class="footer-menu-item"><a href="#">Thương mại</a></p>
                <p class="footer-menu-item"><a href="#">Bán tải</a></p>
            </div>
            <div class="col-md-2">
                <h3 class="footer-menu-title">CÔNG NGHỆ</h3>
                <p class="footer-menu-item"><a href="#">HYBRID</a></p>
                <p class="footer-menu-item"><a href="#">TSS</a></p>
                <p class="footer-menu-item"><a href="#">TNGA</a></p>
            </div>
            <div class="col-md-2">
                <h3 class="footer-menu-title">DỊCH VỤ</h3>
                <p class="footer-menu-item"><a href="#">Dịch vụ bảo dưỡng</a></p>
                <p class="footer-menu-item"><a href="#">Dịch vụ sau bảo hành</a></p>
                <p class="footer-menu-item"><a href="#">Sản phẩm chính hãng</a></p>
            </div>
            <div class="col-md-2">
                <h3 class="footer-menu-title">TIN TỨC & KHUYẾN MÃI</h3>
                <p class="footer-menu-item"><a href="#">Sản phẩm</a></p>
                <p class="footer-menu-item"><a href="#">Khuyến mãi</a></p>
                <p class="footer-menu-item"><a href="#">Xã hội</a></p>
                <p class="footer-menu-item"><a href="#">Thông tin khác</a></p>
            </div>
            <div class="col-md-2">
                <h3 class="footer-menu-title">VỀ TOYOTA VIỆT NAM</h3>
                <p class="footer-menu-item"><a href="#">Giới thiệu về công ty</a></p>
                <p class="footer-menu-item"><a href="#">Tuyển dụng</a></p>
                <p class="footer-menu-item"><a href="#">Cộng đồng</a></p>
                <p class="footer-menu-item"><a href="#">Nội địa hóa</a></p>
                <p class="footer-menu-item"><a href="#">Tham quan nhà máy</a></p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="row footer-info" id="footer-info">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h3 class="footer-info-title">CÔNG TY Ô TÔ TOYOTA VIỆT NAM</h3>
            <p class="footer-info-content">
                Số GCNĐKDN: 2500150335 <br>
                Cấp lần đầu: Ngày 26/03/2007 <br>
                Đăng ký thay đổi lần thứ 16: Ngày 07/05/2018 <br>
                Cơ quan cấp: Sở kế hoạch và đầu tư tỉnh Vĩnh Phúc <br>
                Địa chỉ: Phường Phúc Thắng, Thành phố Phúc Yên, Tỉnh Vĩnh Phúc, Việt Nam <br>
            </p>
        </div>
        <div class="col-md-3">
            <h3 class="footer-info-title">ĐƯỜNG DÂY NÓNG</h3>
            <p class="footer-info-content">
                <span><i class="fas fa-phone-alt"></i></span> 1800 1524 <br>
                <span><i class="fas fa-phone-alt"></i></span> 0916 001 534 <br>
                <span><i class="fas fa-envelope"></i></span> tmv_cs@toyotavn.com.vn <br>
                Hotline Hỗ trợ tài chính: (84-28) 7309 0998 <br>
                Hotline Bảo hiểm Toyota: 1900 633 384 <br>
            </p>
        </div>
        <div class="col-md-3">
            <h3 class="footer-info-title">ĐĂNG KÝ NHẬN BẢN TIN</h3>
            <p class="footer-info-content">
                Đừng bỏ lỡ những tin tức khuyến mãi của chúng tôi
            </p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email" aria-label="Recipient's username"
                    aria-describedby="button-addon2">
                <button class="btn btn-outline-danger" type="button" id="button-addon2">Đăng Ký</button>
            </div>
        </div>
        <p id="copyright" class="text-center">© Bản quyền thuộc về Huy Jack & Fuck Du Siêu Cấp Vip
            Pro</p>
    </div>
</section>

<!-- Javascript link  -->
<script src="/javascript/footer.js"></script>
<script src="https://kit.fontawesome.com/ce35990a57.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>